*.bak
*~
*.obj
*.sbr
*.ncb
*.o
*.la
*.lo
*.lib
*.idb
*.dep
*.manifest
*.dll
*.exe
*.exp
BuildLog.htm
.deps
.libs
*.user
*.pdb
*.gz
*.7z
*.rar
*.suo
*.diff
*.bsc

Makefile.in
config.log
config.status
stamp.year
stamp.month
stamp.day
	   
crm114/dist
crm114/tmp-build
tmp

crm114/autom4te.cache

crm114/win32/obj
